header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .5);
}

.logo {
    width: 100px;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 80px;
    }
}
