@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #111;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  /* COLORS */
  --primary-color: #0ea59b;
  --secondary-color: #fff;
  --background-color-opacity: rgba(255, 255, 255, .05);
  --border-color: thin solid rgba(255, 255, 255, .5);

  /* MARGIN */
  --margin: 10px;

  /* BORDER */
  --border-radius: 5px;
  
  /* TEXT */
  --title-size: 1.2rem;
  --text-size: 1rem;
  --label-text-size: .9rem;
}

